body {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    color: lightblue;
}

#clickCount {
    font-size: 20px;
    font-weight: bold;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}